.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: var(--purple-solid-700);
  border: 1px solid var(--purple-solid-300);
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: var(--purple-solid-300);
  border-color: var(--purple-solid-700);
}
