@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

:root {
  --purple-solid-900: #3a303e;
  --purple-solid-700: #7b508a;
  --purple-solid-300: #9569a6;
  --purple-solid-100: #b76ad3;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: var(--purple-solid-900);
}
